.env

/data/postgres/*
!/data/postgres/.keep
/data/redis/*
!/data/redis/.keep
/data/web/uploads/*
!/data/web/uploads/.keep
/data/certbot/conf/*
!/data/certbot/conf/.keep
/data/certbot/www/*
!/data/certbot/www/.keep
